<!DOCTYPE html>
<html>
<head>
</head>

<body>
<div class="container">
{{#each telas}}

    <img class="registration_form_option" id=img{{id}} name=b{{id}} src="images/poliester.jpg" width="120px" height="120px">
<!--    <div class="registration_form_option" id={{id}}><img src="images/upperBody.png" width="120px" height="120px"></div>-->

    <input type="checkbox" id=img{{id}}_check name=a{{id}} value={{nombre}} />


        {{/each}}
</div>
<script>
$('#img1,#img2,#img3,#img4,#img5,#img6,#img7,#img8,#img9,#img10').on('click', function () {
    $('.registration_form_option').not(this).removeClass('checked');
        $(this).addClass('checked');
        $(':checkbox').not(this).prop('checked', false);
        $('#'+this.id+'_check').prop('checked', true);
});
    </script>
        <style>

#img1_check, #img2_check, #img3_check, #img4_check, #img5_check, #img6_check, #img7_check, #img8_check{
    display:none;
    padding:1em;
}

</style>
<style>
.wrapper {
    overflow:hidden;
    width:320px;
}
.wrapper div {
    /* cualquier altura mayor que el total de sumar la anchura de las img */
    width:330px;

    /* para evitar el margen superior de la primera fila */
    margin-top:-10px;
}
img {
    width:100px;
    height:75px;
    float:left;
    margin:10px 10px 0 0;
}
</style>
</body>

</html>

