<!DOCTYPE html>
<html>
<head>
</head>

<body>
<div class="container">
{{#each telas}}

    <img class="registration_form_option" id=imgT{{id}} name=b{{id}} src="images/poliester.jpg" width="120px" height="120px">
<!--    <div class="registration_form_option" id={{id}}><imgT src="images/upperBody.png" width="120px" height="120px"></div>-->

    <input type="checkbox" id=imgT{{id}}_check name=a{{id}} value={{nombre}} />


        {{/each}}
</div>
<script>
$('#imgT1,#imgT2,#imgT3,#imgT4,#imgT5,#imgT6,#imgT7,#imgT8,#imgT9,#imgT10').on('click', function () {
    $('.registration_form_option').not(this).removeClass('checked');
        $(this).addClass('checked');
        $(':checkbox').not(this).prop('checked', false);
        $('#'+this.id+'_check').prop('checked', true);
});
    </script>
        <style>

#imgT1_check, #imgT2_check, #imgT3_check, #imgT4_check, #imgT5_check, #imgT6_check, #imgT7_check, #imgT8_check{
    display:none;
    padding:1em;
}

</style>
<style>
.wrapper {
    overflow:hidden;
    width:320px;
}
.wrapper div {
    /* cualquier altura mayor que el total de sumar la anchura de las imgT */
    width:330px;

    /* para evitar el margen superior de la primera fila */
    margin-top:-10px;
}
img {
    width:100px;
    height:75px;
    float:left;
    margin:10px 10px 0 0;
}
</style>
</body>

</html>

