<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- diseño de pestaña -->
    <title>Prendas</title>
    <link rel="icon" type="image/png" href="/images/Portada.png" />
  </head>
  <body style="background-color: #080808">
    <!-- Titulo -->
    <div class = "container-fluid p-2" style = "background-color: #78c1ad;">
        <div class = "container">
            <h1 class = "display-3 text-center text-white">Prendas</h1>
            <a type="button" class="btn btn-outline-dark" href="/agregarPrenda">+ Agregar prenda</a>
        </div>
    </div>

    <!-- Ahora si va cada prenda -->
    <div class = "container border bg-white">
        <div class = "row">
            {{#each prendas }}
            <div class ="col-lg-4 col-md-4 col-sm-6 col-6 border">
                <div class = "m-2">
                    <div class = "p-1 border"><img src="{{imagen}}" style="width:100%;"> </div>
                    <div class = "p-1" style="font-size:100%; line-height:120%; font-style: italic">{{tipo.nombre}}</div>
                    <div class = "p-1" style="font-size:100%; line-height:120%; font-style: italic"> > {{tipo.categoria.nombre}}</div>
                    <div class = "p-1" style="font-size:100%; line-height:120%; font-style: italic"> > {{tela.nombre}} </div>
                    <div class = "p-1 border" style=”padding:12px;background-color:{{colorPrimario.hex}};line-height:120%;font-size:1%”>. </div>
                    <div class = "p-1 border " style=”padding:12px;background-color:{{colorSecundario.hex}};line-height:120%;font-size:1%”>. </div>
                    <a type="button"
                       class="btn btn-danger open-AddBookDialog p-1"
                       data-toggle="modal"
                       data-target = "#myModal"
                       data-id ="@{{id}}" >Eliminar prenda
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
  </body>

  <script type="text/javascript">
    $('#myModal').on('show.bs.modal', function (event) {
        let id = $(event.relatedTarget).data('id')
        $(this).find('.modal-body input').val(id)
    })
  </script>
  <div class="modal fade" id = "myModal"tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <input id="id" name="id" value="">
              <div class="modal-header">
                  <h4 class="modal-title">Confirmar eliminación</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <p>¿Desea eliminar esa prenda?</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  <!-- aca es donde entra js, no estoy pudiendo hacerlo -->
                  <a type="button" class="btn btn-danger" onclick="eliminarPrenda()" >Eliminar prenda</a>
              </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="">
      <footer class="footer  ">
          <p> UTN FRBA 2019 - Diseño de Sistemas - ¿Qué me pongo? - Grupo 5. Copyright &copy;</p>
      </footer>
  </div>
</html>

<style>
.footer {
  width: 100% !important;
  height: 20px !important;
  padding: 3px 10px !important;
  background: #E56E85 !important;
  font-family: "century gothic","arial" !important;
  color: #F7F2EF !important;
  font-size: 10px !important;
  text-align: center;
  bottom:0px !important;
  margin-top: -14px !important;
  clear:both !important;
  position: fixed; !important;
}
</style>
